Repository Kuadrant/limitador-operator, pull requests merged in 2023-09, with the labels that each got.

#83 feat: resource requirements
  .github/codecov.yaml
  api/v1alpha1/limitador_types.go
  api/v1alpha1/limitador_types_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/limitador.kuadrant.io_limitadors.yaml
  config/crd/bases/limitador.kuadrant.io_limitadors.yaml
  controllers/limitador_controller.go
  controllers/limitador_controller_test.go
  controllers/suite_test.go
  doc/resource-requirements.md
  go.mod
  go.sum
  pkg/limitador/k8s_objects.go
  pkg/reconcilers/deployment.go
  pkg/reconcilers/deployment_test.go
  pkg/reconcilers/suite_test.go
Labels: kind/enhancement, participation/good first issue, target/current, size/medium, area/api

#86 Pass through Pod Affinity Rules
  api/v1alpha1/limitador_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/limitador.kuadrant.io_limitadors.yaml
  config/crd/bases/limitador.kuadrant.io_limitadors.yaml
  controllers/limitador_controller.go
  controllers/limitador_controller_test.go
  pkg/limitador/k8s_objects.go
  pkg/reconcilers/deployment.go
Labels: kind/enhancement, participation/good first issue, target/current, size/small, area/api

#102 fix: retry updating limitador cr on error in integration test
  controllers/limitador_controller_test.go
Labels: kind/bug, participation/good first issue, size/small
